<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>x64</LastUsedPlatform>
    <TargetFramework>net10.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishAot>true</PublishAot>
    <NativeLib>Shared</NativeLib>
    <PublishSingleFile>false</PublishSingleFile>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishUrl>$(MSBuildThisFileDirectory)..\..\..\publish\</PublishUrl>
    <PublishDir>$(PublishUrl)</PublishDir>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <BuildNativeBeforePublish>true</BuildNativeBeforePublish>
  </PropertyGroup>
</Project>
