**/.vs/
**/build/
**/out/
**/x64/
Native/Consolidator/vcpkg_installed/
Native/Consolidator/vcpkg_static/
.git_native_backup/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
Max/
Consolidator.Max/externals/*.dll
Consolidator.Max/externals/*.mxe64
Native.Old/
Consolidator.Native/externals/
